footer {
    background-color: #6278F7;
    min-height: 215px;
    position: relative;
    display: grid;
    align-items: center;
}

footer > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 20px;
}

.footer-content ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 35px;
}